/* Fonts   */
 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common style  */
*{
  margin: 0;
}
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
  display: flex;

  flex-direction: column;
  align-items: center;
}
.container{
  background-color: #FFFFFF;
  width: 870px;
  /* height: 679px; */
  padding: 30px;
 margin-top: 21px;
border-radius: 5px;
}

/* Common style  */


/*------------------- 
    Nav Bar style  
----------------------*/
nav{
  background-color: #562EFF;
  display: flex;
  justify-content: space-evenly;
  height: 97px;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;

}


.logo h1{
  margin-left: 20px;
  font-size: 2em;
}
.menu ul{
  display: flex;
  align-items: center;
 
}

.menu ul li {
  display: flex;
  list-style: none;
  margin-right: 36px;

  
}

.nav-text{
  text-decoration: none;
}
.nav-text img{
width: 40.42px;
height: 51px;
}

.profile-img{
  height: 51px;
  width: 51px;
}



/*------------------- 
    Nav Bar style  
----------------------*/



/* Top players style  */
.top-players{
  margin-bottom: 30px;
}

.section-titel{
  font-size: 24px;
  color: #562EFF;
  margin-top: 3px;
  

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px ;

}
.player{
display: flex;
align-items: center;
}

.player img{ 
  width: 56px;
  height: 56px;
}

.payler-name{
 margin-left: 16px;
 font-size: 18px;
}

hr{
  border: 1px solid #D1D1D1;
  margin-bottom: 26px;
}
/* Top Players style ends  */

/*---------------------
 Top blog style
 ---------------------- */
 
 .blogs{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 26px;
 }

 
 .blog{
  display: flex;
}


 .blog .thumbnail img{
  width: 177px;
  height: 117px;
 }

 .blog-detail{
   margin-left: 16px;
 }

 .blog-titel{
   font-size: 20px;
 }
 .blog-author{
   font-size: 16px;
   color: #9F9F9F;
 }

 .blog-author a{
   text-decoration: none;
   font-size: 16px;
   color: #562EFF;
 }

 /*------------------- 
    coureses style 
 --------------------*/
.course{
padding: 16px;
box-shadow: 0px 6px 14px #0000001c ;
border-radius: 20px;
}

.courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.coures-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}


 .course img{
  /* width: 224px;
  height: 104px; */
  width: 100%;
  height: 100%;
 }
 .course-titel{
font-size: 20px;
 }


.fa-star{
  font: size 12px; ;
}

 .fa-star.filled{
color: #FFC014 ;
 }
 .fa-star.empty{
   color: #AEAEAE;
 }
 
 .coures-duration{
   background-color: #FFE4E8;
   border-radius: 14.6913px;
padding: 6px;
color: #FF4A60;;
 }

/* ---------------------------
           footer 
------------------------------*/

footer{
  height: 80px;
  background-color: indigo;
  text-align: center;
  

}
.footer-text{
  color: #ffffff;
  background-color: rgb(138, 138, 139);
  padding: 3px;
  border-radius: 9px;
  font-size: 12px;
  margin-top: 10px;

}



 /* ---------------------------------
          Media Queries 
------------------------------------*/
/*-----------------------
     Mobile Devices  
------------------------*/


@media only screen and (max-width:688px){
.nav{
  width: 100%;
}
.logo{
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
}

.menu ul{
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container{
width: 100%;

}

.players, .blogs , .courses{
grid-template-columns: repeat(1, 1fr);
justify-content: center;
}

}

/*-----------------------------
         Tablet & Ipad  
-------------------------------*/
@media only screen and (min-width:688px) and (max-width:992px) {

  .container{
    width: 100%;
    
    }
    
    .players, .blogs , .courses{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    }
    

}